/* Estilo del contenedor del video de fondo */
.header_Video {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura según el diseño */
  overflow: hidden;
}


.div_video_background {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
}

.video_background {
  width: 100%;
  height: 100%;
}


/* Contenedor de categorías */
.div_category_All {
  padding: 20px;
  width: 100%;
  background-color: #1e2a38; /* Azul oscuro metálico */
  color: #ecf0f1; /* Blanco grisáceo */
}

.Categories_h1 {
  text-align: center;
  font-size: 36px;
  color: #00bcd4; /* Cian vibrante */
  margin-bottom: 20px;
}

.container_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
