.imagenes {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.imagenes{
    margin: 0%;
    /* height: auto; */
    padding-top: 0%;
}
.div_imagenes_categoy {

  margin-top: 0%;
  padding: 0;
  margin: 0 12%;
  /* height: 250px; */
}

.div_imagenes_category {
  margin: 0 15%;
}
